@import "fonts.css";

#loaderContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(108, 166, 89, 1);
  font-size: 16px;
  z-index: 20;
  top: 0;
  left: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -100;
  left: -100%;
}

#loaderContainer p {
  color: #222;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}

#loaderContainer p::first-letter {
  font-size: 4rem;
  font-family: var(--decoFont);
  text-transform: uppercase;
  box-shadow: inset 0px 3.2rem 0px #EEE;
}

@keyframes turn-eyes {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
	}
	100% {
		transform: translateX(-50%);
	}
}

.owl {
      position: fixed;
      left: 50%;
      margin-left: -52px;
      border: 10px solid #05080F;
      border-radius: 50%;
      width: 104px;
      height: 102px;
      top: 50%;
      background-color: #6B5734;
}

  .owl::before,
  .owl::after {
    content: " ";
    border: 6px solid #05080F;
    height: 10px;
    bottom: -22px;
    position: absolute;
  }

  .owl::before {
    left: 37px;
  }

  .owl::after {
    left: 56px;
  }

  .owl .ear {
    position: absolute;
    top: 21px;
    width: 13px;
    height: 12px;
    background-color: #07080A;
  }

  .owl .ear-left {
    left: -15px;
    border-radius: 0 0 0 90px;
  }

  .owl .ear-right {
    right: -15px;
    border-radius: 0 0 90px 0;
  }

  .owl .eye {
    background-color: #F5D62E;
    border: 10px solid #05080F;
    border-radius: 50%;
    width: 47px;
    height: 45px;
    position: absolute;
    top: 19px;
  }

  .owl .eye-right {
    right: -11px;
  }

  .owl .eye-left {
    left: -9px;
  }

  .owl .eye .pupil {
    height: 18px;
    width: 41px;
    border-radius: 90px 90px 0 0;
    background: #4D391E;
    border: 10px solid #05080F;
    margin-top: -11px;
    margin-left: -8px;
  }

  .owl .eye .pupil:after {
    content: " ";
    position: absolute;
    border-radius: 0 0 90px 90px;
    background: #050608;
    top: 23px;
    left: 11px;
    width: 25px;
    height: 12px;
    animation: 2s ease-in-out turn-eyes infinite;
  }

  .owl .nose {
    position: absolute;
    top: 69px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 6px 0 6px;
    border-color: #05080F transparent transparent transparent;
    left: 47px;
  }

  .owl .book {
    width: 120px;
    height: 80px;
    z-index: 25;
    position: absolute;
    top: 70%;
    margin-left: -7px;
	}

  .owl .book .left, .owl .book .right {
    background-color: #99f0ca;
    border: 5px solid #05080F;
    box-sizing: border-box;
  }

  .owl .book .left {
    width: 50%;
    height: 100%;
    transform: skewY(20deg);
  }

  .owl .book .right {
    margin-top: -80px;
    width: 50%;
    height: 100%;
    margin-left: 60px;
    transform: skewY(-20deg);
  }
