@import "colors.css";

.preview {
  background-color: #FFF;
}

#AppBar {
  position: relative;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: var(--mainBackgroundColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#AppBar .title {
  align-self: center;
  flex-grow: 2;
  flex-basis: 50%;
}

#AppBar button {
  min-height: 1.5rem;
  color: #555;
}

.preview button {
  display: block;
  margin: auto;
  background-color: var(--secondaryColor);
  color: var(--secondaryFontColor);
  border: 0px;
}

.preview button:hover, .preview button:focus {
  background-color: var(--secondaryColorDarker);
}

.preview header:first-of-type .edit {
  position: absolute;
  right: 2%;
  top: 2%;
}

.preview header:first-of-type .edit:hover {
  background: var(--thirdColor);
}


.preview button.no-btn {
  color: inherit;
  background: none;
  border: none;
  color: var(--mainFontColor);
}

.preview button.line {
  width: 5rem;
  font-family: sans;
  text-transform: uppercase;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 5px solid var(--secondaryColor);
  color: #555;
  word-spacing: 1px;
  font-weight: 600;
}

.preview button.line:hover, .preview button.line:focus {
  background-color: var(--secondaryColor);
  color: #FEFEFE;
}

.preview header, .preview h1 {
  text-align: center;
}

.preview section {
  margin: 0px;
  border: 0px;
  padding: 0px 5% 0px 5%;
  width: 90%;
}

.left {
  float: left;
}


.right {
  float: right;
}

.clearfix {
  clear: both;
  width: 100%;
  margin: 5% 0px;
}

.clearfix button {
  width: 100%;
  font-size: 3rem;
  border-radius: 10px;
}

.preview p {
  font-size: 1.2rem;
}


.preview aside {
  position: fixed;
  z-index: 20;
  background-color: var(--thirdColor);
  height: 100vh;
  width: 15vw;
  top: -100%;
  left: -100%;
}

.preview aside .show {
  top: 0;
  left: 0;
}

.preview img {
  width: 100%;
}

.preview section figure {
  width: 40%;
  margin: 0px 10px 10px 10px;
  padding: 0px;
}

.preview figcaption button {
  width: 100%;
  padding: 0.5rem 0px;
}

