@import "colors.css";

.readable {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#ReadableBar {
  position: relative;
  left: 0px;
  width: 100%;
  z-index: 100;
  height: 10vh;
}

.readable aside {
  position: fixed;
  top: 0%;
  height: 100%;
  width: 16vw;
  background-color: var(--mainBackgroundColor);
  visibility: hidden;
}

.readable aside button {
  background: none;
  border: none;
}

.readable aside button:hover, .readable aside button:focus {
  background-color: var(--secondaryColorDarker);
}

.readable aside .show-aside {
  visibility: visible;
  z-index: 500;
}

.readable aside #left {
  left: -100%;
}

.readable aside #right {
  right: -100%;
}

.readable aside .show-aside #left {
  left: 0%;
}

.readable aside .show-aside #right {
  right: 0%;
}

.readable aside:first-of-type .hidden {
  visibility: hidden;
}

#ReadableBar button {
  background: none;
  border: none;
  color: var(--secondaryColor);
}

#ReadableBar .light, #ReadableBar .dark {
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  color: inherit;
}

#ReadableBar .dark {
  position: absolute;
  align-items: stretch;
  top: 0px;
  height: 40%;
  background-color: #222;
  color: var(--secondaryFontColor);
}

#ReadableBar .dark button {
  color: var(--secondaryFontColor);
}

#ReadableBar .light {
  top: 50%;
  height: 60%;
  padding: 5px;
  box-sizing: border-box;
}

#ReadableBar .title {
  align-self: center;
  flex-grow: 2;
  flex-basis: 50%;
}

.readable #navigation {
  position: fixed;
  width: 100%;
  z-index: 500;
  bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.readable #navigation button {
  background: none;
  border: none;
  color: #555;
}


.readable #navigation button:hover, .readable #navigation button:focus {
  color: var(--secondaryColor);
}

/*
.readable .chapter > p::first-letter {
  font-family: var(--decoFont);
  font-size: 3rem;
  float: left;
  text-decoration: none;
}

.fantasy .chapter > p::first-letter {
  font-family: var(--decoFantasyFont);
}

.tech .chapter > p::first-letter {
  font-family: var(--decoTechFont);
}

.history .chapter > p::first-letter {
  font-family: var(--decoHistoryFont);
}

.science .chapter > p::first-letter {
  font-family: var(--decoScienceFont);
}

.art .chapter > p::first-letter {
  font-family: var(--decoArtFont);
}

.mistery .chapter > p::first-letter {
  font-family: var(--decoMisteryFont);
}

.romance .chapter > p::first-letter {
  font-family: var(--decoRomanceFont);
}*/

.readable .container {
  left: 0%;
  box-sizing: border-box;
}
